# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/

# Build
dist/
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Celery / SQLite
celerydb.sqlite
celeryresults.sqlite
*.sqlite

# Downloads storage
storage/

# FFmpeg binary
ffmpeg.exe
ffprobe.exe
ffmpeg.zip

# Logs
*.log
